/* 全局字体 */
body {
  font-family:
    "STKaiti",
    "KaiTi",
    "STFangsong",
    "FangSong",
    "Times New Roman",
    "Noto Serif SC",
    serif;
}

/* 标题 */
h1, h2, h3, h4, h5, h6 {
  font-family:
    "Times New Roman",
    "STKaiti",
    "KaiTi",
    serif;
}

/* 代码字体 */
code, pre {
  font-family:
    "JetBrains Mono",
    "Fira Code",
    monospace;
}
