{{ define "main" }}
<section class="homepage-intro">
  <div style="margin-bottom: 21px; font-size: 21px; font-weight: 600; color: #504e4e;">
    直到世界尽头
  </div>
<div style="display: flex; column-gap: 9px; margin-bottom: 21px; height: 140px;">
    <img
        style="width: 24%; border-radius: 9px;"
        src="/img/movieImg/image.png"
    />
    <img
        style="width: 24%; border-radius: 9px;"
        src="/img/movieImg/image2.png"
    />
    <img
        style="width: 24%; border-radius: 9px;"
        src="/img/movieImg/image3.png"
    />
    <img
        style="width: 24%; border-radius: 9px;"
        src="/img/movieImg/image4.png"
    />
    </div>
  <div style="display: flex; justify-content: end;">
    希望你永远快乐，任何选择之后都洒脱。
  </div>

  <div style="display: flex; flex-direction: column; row-gap: 12px; margin-top: 12px;">
    文章列表
    <a href="/posts/">前端知识</a>
  </div>
</section>
{{ end }}
